body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

section h1 {
    text-align: center;
    font-size: 8em;
    word-spacing: 12rem;
}

section h2 {
    font-size: 4em;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding-bottom: 2em;
    left: 70.1%;
    transform: translateX(-50%);
}

#row-players {
    margin-top: 3em;
    margin-bottom: 2em;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.9;
}

@media (max-width: 768px) {
    body {
        background-size: 120%;
    }
    section h1 {
        word-spacing: normal;
        font-size: 6em;
    }

    .container {
        margin-top: 1em;
        left: 50%;
    }
}