body {
    height: 100vh;
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-attachment: fixed;
}

#score {
    text-align: center;
    font-size: 8em;
    word-spacing: 12rem;
}

#winner {
    font-size: 4em;
    text-align: center;
}

.container-fluid {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding-bottom: 2em;
}

#row-players {
    margin-top: 3em;
    margin-bottom: 2em;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.9;
}

@media (max-width: 768px) {
    body {
        background-size: 120%;
    }
    #score {
        word-spacing: normal;
        font-size: 6em;
    }

    .container-fluid {
        margin-top: 1em;
    }
}